*{
    --accent_color: rgb(99, 114, 197);
    --nav-color:rgb(12, 13, 20);
    --homepage-color:rgb(15, 15, 29);
    margin: 0%;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(12, 13, 17);
}

#nav-head{
    padding: 0px 50px;
    background-color: var(--nav-color);
    color: var(--accent_color);
    display: inline-flex;
    width: 100%;
    float: right;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 1px 0px 24px 4px rgba(4, 11, 12, 0.295);
    top: 0%;
    pointer-events: none;
}
#nav-head h1{
    pointer-events: none;
}

#nav-head a {
    float: right;
    width:100px;
    padding: 30px 0px;
    text-align: center;
    transition: all 0.32s;
    color: var(--accent_color);
    pointer-events: visible;
}
#contact {
    transform: translateX(-80px);
    margin-right: 0px;
    text-decoration: none;
}
#menu_button{
    display: none;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 30px 0px;
    color: var(--accent_color);
    cursor: pointer;
    pointer-events: visible;
}

#nav-head a:hover{
    background-color: var(--accent_color);
    color: var(--nav-color);
}

#nav-list{
    justify-content: center;
    display: flex;
    text-transform: capitalize;
}
.list-link{
    list-style: none;
    text-align: center;
    
}
.list-link a{
    text-decoration: none;
    text-align: center;
}
#nav-menulist{
    flex-direction: column;
    justify-content: left;
    background-color: var(--nav-color);
    position: fixed;
    transform: translateY(80px);
    width: 100dvw;
    top: 0%;
    transition: all 0.3s;
}
#nav-menulist li{
    margin: 10px;
    width: max-content;
    height: min-content;
}
#nav-menulist a{
    font-size: 20px;
    text-align: left;
    padding: 20px 150px 10px 10px;
    color: var(--accent_color);
}
#nav-menulist a:hover{
    background-color: var(--accent_color);
    text-decoration: none;
    color: var(--nav-color);
}

#homepage-body{
    text-align: start;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: var(--homepage-color);
    pointer-events: none;
    outline: solid 10px;
    outline-color: var(--nav-color);
    
}
#homepage-body div {
    padding: 0px 90px;
    transform: translateY(200px);
}
#homepage-body h1{
    margin-left: 50px;
    font-size: 90px;
    pointer-events: none;
    color: var(--accent_color);
}
#homepage-body h2,#homepage-body p{
    pointer-events: none;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#homepage-a{
    display: flex;
    justify-content: space-between;
    color:var(accent_color);
}
#homepage-a a{
    pointer-events: visible;
    background-color: rgba(15, 15, 29, 0);
    padding: 30px 100px;
    font-size: 20px;
    color:var(--homepage-color);
    border: none;
    transition: all 0.3s;
}

#homepage-a a:hover{
    pointer-events: visible;
    background-color: var(--accent_color);
    padding: 80px 180px;
    color:var(--homepage-color);
    border: none;
}
.homepage-p{
    font-size: 60px;
    transition: all 2.5s;
}

#ARTS, #PROJECTS, #ABOUT{
    margin: 0px 0px;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    height: fit-content;
    align-items: center;
    align-self: center;
    color: rgb(150, 175, 185);
    transition:all 1s;
    text-wrap: wrap;
}
#ARTS:hover, #PROJECTS:hover, #ABOUT:hover{
    background-color: rgb(25, 27, 34);
    box-shadow: inset 1px 0px 24px 4px rgb(30, 28, 39);
}
#ARTS-overflow{
    height: 500px;
    justify-content: center;
    padding: 90px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-y: auto;
    overflow-x:hidden;
}
#ARTS-overflow img{
    object-fit: cover;
    pointer-events: none;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 1px 0px 64px 4px rgb(16, 16, 24);
}

#ABOUT h2{
    color:var(--accent_color);
}

.content-a h1 {
    padding-left: 20px;
    margin-left: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content-a h2,.content-a p{
    padding-left: 20px;
    margin-left: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#GALLERY-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    margin: 50px;
    background-color: var(--homepage-color);
}
#GALLERY-body img{
    border-radius: 20px;
    padding: 1px;
    object-fit: cover;
    transition: all 2.0s;
    position: relative;
}
.open_menu{
    display:none;
    animation: openMenu 0.3s  ease-in-out;
}
@keyframes openMenu {
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}

@media (max-width:850px) {
    #GALLERY-body{
        transform: translateY(0px);
        display: block;
        padding: 1px;
        margin: 0%;
        padding: 10px;
    }
    #GALLERY-body img{
        width:300px;
    }
    #homepage-body h2{
        font-size: 20px;
    }
    .homepage-p {
        font-size: 50px;
        padding-top: 80px;
    }
    #homepage-a a{
        padding: 30px 70px;
    }
    #homepage-a a:hover{
        padding: 60px 120px;
    }
    #nav-head h1{
        padding-left: 5px;
    }
    #homepage-a{
        display: block;
        justify-content: left;
    }
    #ARTS, #PROJECTS, #ABOUT{
        font-size: 12px;
    }
    .content-a h1 {
        padding-left: 5px;
        margin-left: 5px;
    }
    .content-a h2,.content-a p{
        padding-left: 5px;
        margin-left: 10px;
        text-wrap: wrap;
    }
    .nav-head a {
        font-size: 5px;
    }
    #nav-head{
        padding: 0px;
    }
    #nav-list{
        padding: 0px;
        font-size: 12px;
        display: none;
    }
    #homepage-body div {
        padding: 0px 30px;
        transform: translateY(100px);
    }
    #homepage-body h1{
        font-size: 60px;
    }
    #homepage-body h2{
        font-size: 20px;
    }
    #contact{
        transform: translateX(0px);
    }
    #ARTS-overflow{
        padding: 30px;
    }
    #ARTS-overflow img{
        width: 200px;
        height: 200px;
        margin:0px;
    }
    #menu_button{
        transform: translateX(-10px);
        display: block;
    }
}